[Desktop Entry]
Name=PiGation
Comment=Launch PiGation
Path=$workingDir$
Exec=$exec$
Icon=web-browser
Terminal=false
Type=Application
Categories=Network;WebBrowser;


# Use this veriation to attach to the debugger in a paused state.
# Exec=gnome-terminal -e "bash -c 'flutter run --start-paused -d linux /home/bsutton/git/pigation/pig_app/lib/main.dart;$SHELL'"
# use this variation to see launch errors using a compiled exe.
# Exec=gnome-terminal -e "bash -c '/home/bsutton/git/pigation/pig_app/build/linux/x64/release/bundle/pigation;$SHELL'"
